.demo {
  position: relative;
  height: 50px;
  width: 30%;
  background-color: #2219DC;
  padding-top: 20px;
  padding-left: 20px;
  font-weight:bold;
  color: red;
}
.range{
  position: absolute;
  padding-top: 20px;
  margin-top: -70px;
  right: 800px;
  height: 50px;
  width: 30%;
  background-color: powderblue;
}
 .login{
  position: absolute;
  top: 0px;
  padding-top: 0px;
  right: 10px;
  /*background-color: #CB6D12;*/
 } 
.Row
{
   
    width: 100%; /*Optional*/
    table-layout: fixed; /*Optional*/
    border-spacing: 10px; /*Optional*/
}
.Column
{  
padding :10px 10px 10px 10px;
    display: inline-grid;
    /*background-color: red; /*Optional*/
    Margin : 10px 10px 10px 10px ;
    
}
img{
  border-radius: 50%;
  width: 70px;
  height: 70px;
  margin-top: 20px;
  
}

button{
  position: absolute;
  width: 100px;
  height: 40px;
  margin-left: 200px;
  margin-top: -35px;
  border-radius: 12px;
  font-size: 16px;
  cursor: pointer;
  font-family: 'Times New Roman', Times, serif;
}
.info{
  visibility: visible;
  margin-top: -10px;
  margin-bottom: -10px;
  color: red;
  background-color:whitesmoke;
  font-family: Arial, Helvetica, sans-serif;
  width: 60px;
}
.usertop{
  height: 100px;
  color: blue;
  text-align: center;
}
.user{
  position: relative;
  margin-left: 50px;
}
.image{
  position: absolute;
  height: 150px;
  width: 150px;
  margin-top: -150px;
  margin-left: 400px;
  border-radius: 0px;
  border-radius: 12px;
}