.form_signup{
  
    padding-top: 20px;
    margin-top: 20px;
    margin-left: 20px;
    right: 800px;
    height: 500px;
    width: 500px;
    background-color: powderblue;
  }
  .timezone{
    margin-left: 100px;
    color: #0000FF
  }