.button {
  background-color: #4CAF50;
  border: none;
  color: white;
  /*padding: 15px 32px;*/
  margin-left: 950px;
  padding-bottom: 60px;
  width: 100px;
  height: 40px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}
.button_location{
background-color: #4CAF50;
border: none;
color: white;
/*padding: 15px 32px;*/
margin-left: 340px;
margin-top: -170px;
padding-bottom: 30px;
padding-top: 7px;
width: 150px;
height: 10px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 16px;
cursor: pointer;
}
.inputstyle{
width: 260px;
height: 30px;
}
.form_class{

padding-top: 20px;
margin-top: 20px;
margin-left: 20px;
right: 800px;
height: 500px;
width: 500px;
background-color: powderblue;
}
.imgcount{
margin-left: 1100px;
margin-top: -40px;
}
